<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Demo.AspNetCore.Mvc.Http2 - Action Selection</title>
</head>
<body>
    <h1>Action Selection (@ViewBag.ProtocolAbbreviation)</h1>
</body>
</html>
